<div class="center-contents">
  <form class="form-container" [formGroup]="clusterInputFormGroup" (ngSubmit)="submit()">
    <h1 class="grid-over-two-columns">Clustering</h1>
    <mat-form-field class="grid-over-two-columns">
      <mat-label>Name des Clusters</mat-label>
      <input matInput placeholder="Clustering XY" formControlName="clusterName">
    </mat-form-field>

    <div class="grid-over-two-columns dropzone" (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
      <input type="file" style="display: none" (change)="onChange($event)" #fileUpload >

      <h3>Ziehe eine .csv / .xslx Datei per Drag & Drop hierher</h3>
      <h3>oder</h3>

      <div class="button-row">
        <button mat-raised-button (click)="fileUpload.click()" color="accent">
          Lade eine Datei hoch <mat-icon>upload_file</mat-icon>
        </button>
      </div>

    </div>

    <mat-form-field floatLabel="always">
      <mat-label>k definieren</mat-label>
      <input matInput type="number" formControlName="k" min="0">
      <span matTextPrefix>k= </span>
    </mat-form-field>
    <div></div>
    <button mat-raised-button>Clustering Starten</button>
  </form>
</div>
