<div class="center-contents">
  <form class="form-container" [formGroup]="clusterInputFormGroup" (ngSubmit)="submit()">
    <h1 class="grid-over-two-columns">Clustering</h1>
    <mat-form-field class="grid-over-two-columns">
      <mat-label>Name des Clusters</mat-label>
      <input matInput placeholder="Vorgang XY" formControlName="clusterName">
    </mat-form-field>

    <div class="grid-over-two-columns dropzone" (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
      <input type="file" style="display: none" (change)="onChange($event)" #fileUpload >

      <h3>Ziehe eine .csv / .xslx Datei per Drag & Drop hierher</h3>
      <h3>oder</h3>

      <div class="button-row">
        <button mat-raised-button (click)="fileUpload.click()" color="accent" type="button">
          Lade eine Datei hoch <mat-icon>upload_file</mat-icon>
        </button>
      </div>

    </div>

    <div class="grid-over-two-columns file-display" *ngIf="file">
      <mat-icon style="margin-right: 20px">insert_drive_file</mat-icon>
      <div style="vertical-align: center">{{file.name}}</div>
    </div>

    <div class="grid-over-two-columns" style="margin-bottom: 22px;">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Experteneinstellungen</mat-panel-title>
          </mat-expansion-panel-header>


          <div class="settings-grid">
            <div>Spaltenauswahl</div>
            <mat-form-field class="fixed-width-field"
                            [class.has-error]="clusterInputFormGroup.get('selectedColumns')?.hasError('twoColumnsRequired')">
              <mat-label>Spalten</mat-label>
              <mat-select multiple formControlName="selectedColumns">
                <mat-option *ngFor="let column of columnNames" [value]="column">{{column}} </mat-option>
              </mat-select>
              <mat-error *ngIf="clusterInputFormGroup.get('selectedColumns')?.hasError('twoColumnsRequired')">
                Bitte genau 2 Spalten auswählen.
              </mat-error>
            </mat-form-field>

            <div>Anzahl der Cluster (optional)</div>
            <div>
              <mat-form-field floatLabel="always" class="fixed-width-field">
                <mat-label>k definieren (optional)</mat-label>
                <input matInput type="number" formControlName="k" min="0">
                <span matTextPrefix>k= </span>
              </mat-form-field>
            </div>
            <div>
              <p>Berechnungsmethode</p>
            </div>
            <div>
              <mat-button-toggle-group name="distanceMethod" style="margin-top: -16px" formControlName="distanceMetric">
                <mat-button-toggle value="EUCLIDEAN">Euklidisch (Standard)</mat-button-toggle>
                <mat-button-toggle value="MANHATTAN">Manhattan</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div>
              <p>Methode zur Bestimmung von K</p>
            </div>
            <div>
              <mat-button-toggle-group name="kMethod" formControlName="clusterDetermination">
                <mat-button-toggle value="ELBOW" [disabled]="hasKValue() || !clusterInputFormGroup.value.offlineKmeans">Ellenbogen</mat-button-toggle>
                <mat-button-toggle value="SILHOUETTE" [disabled]="hasKValue() || !!clusterInputFormGroup.value.offlineKmeans">Silhouette</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="grid-over-two-columns">
              <mat-slide-toggle name="localSelector" aria-label="execute locally" formControlName="offlineKmeans" (change)="updateClusterDetermination()">Lokal im Browser ausführen</mat-slide-toggle>            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>


    <button mat-raised-button class="grid-over-two-columns" color="primary" [disabled]="!clusterInputFormGroup.valid || !file">K-Means durchführen</button>
  </form>
</div>
