
<div class="container">
  <button mat-icon-button color="primary" (click)="navigateToHome()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="loginContainer">
    <div class="loginRow">
      <h1 class="loginRowElement">Login</h1>
    </div>

    <div class="loginRow">
      <mat-form-field>
        <mat-label>
          E-Mail
        </mat-label>
        <input type="email" matInput >
      </mat-form-field>
    </div>

    <div class="loginRow">
      <mat-form-field>
        <mat-label>
          Passwort
        </mat-label>
        <input  type="password" matInput >
      </mat-form-field>
    </div>
    <div class="loginRow">
      <button mat-raised-button>Login</button>
    </div>
  </div>

</div>
