.drawer-container {
  height: 100vh;
}

.drawer-toggle-button {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.sidenav-content {
  margin: auto;
  padding: 20px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.sidenav-item-left {
  flex: 0 0 50%;
  margin-right: 50px;
  align-self: baseline;
}

.sidenav-item-right {
  flex: 1;
}

@media (max-width: 60rem) { /*Bei Mobile Bildschirmen in Hochkant*/
  .sidenav-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
  }
  .sidenav-item-left {
    margin-bottom: 30px;
  }
  .drawer-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .grey-background {
    background-color: rgba(106, 106, 106, 0.6);
    position: absolute;
    width: auto;
    height: 150vh;
    z-index: 9;
    transform: scale(2);
  }
}

mat-drawer {
  padding: 10px;
  width: 15vw;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
}

.drawer-footer{
  display: flex;
  position:absolute;
  bottom:0;
}

.grey-background {
  background-color: rgba(106, 106, 106, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.cancel-button {
  transform: translateY(50px) translateX(-7px) scale(0.5);
  z-index: 12;
}

.centered-loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/*Loading Indicator*/
.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 30%;
  z-index: 10;
  transform: scale(2.5);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #f43f7d;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
