.drawer-container {
  height: 100vh;
}

.drawer-toggle-button {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.sidenav-content {
  margin: auto;
  padding: 20px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.sidenav-item-left {
  flex: 0 0 50%;
  margin-right: 50px;
  align-self: baseline;
}

.sidenav-item-right {
  flex: 1;
}

@media (max-width: 60rem) { /*Bei Mobile Bildschirmen in Hochkant*/
  .sidenav-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
  }
  .sidenav-item-left {
    transform: translateX(50px);
    margin-bottom: 30px;
  }
  .drawer-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

mat-drawer {
  padding: 10px;
  width: 15vw;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
}

.drawer-footer{
  display: flex;
  position:absolute;
  bottom:0;
}

.loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 200px;
  z-index: 10;
}

.grey-background {
  background-color: rgba(106, 106, 106, 0.5);
  position: absolute;
  width: 100vw;
  height: 120vh;
  z-index: 9;
}
